<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>{{package?.name}}</mat-card-title>
        <mat-card-subtitle>{{package?.status}} - {{package?.availableUnits}} units</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            {{package?.description}}
        </p>
        <p>Unit Price: ${{package?.amount}}</p>
        <p>Contract Period: {{package?.contractPeriod}} days</p>
        <p>Expected Return: {{package?.expectedReturn}}%</p>
    </mat-card-content>
    <mat-card-actions>
        <a mat-raised-button color="primary" routerLink="{{package._id}}">Follow</a>
        <a mat-raised-button color="warn" routerLink="{{package._id}}">Buy</a>

    </mat-card-actions>
</mat-card>