<mat-card>
    <mat-card-header>
        <mat-card-title>About Us</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://farm360.org/assets/content/uploads/veges.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p> More than ever, there is need for deliberate investment of resources in agriculture to improve yield and ensure all year round availability of wholesome and cheap food through the use of more productive, efficient and sustainable agricultural
            practices.</p>
        <p>FarmInvest provides an investment portfolio management platform through which individuals and corporate organisations can contribute in closing the investment gaps in the agricultural industry.</p>
        <p>We provide fully customized individually managed investment accounts to suit the investment needs of our clients especially in the satisfaction of the following key-benefit propositions:</p>
        <mat-list>
            <mat-list-item> Attractive returns </mat-list-item>
            <mat-list-item> Excellent capital preservation </mat-list-item>
            <mat-list-item> Portfolio diversification </mat-list-item>
            <mat-list-item> Very low to moderate risk</mat-list-item>
            <mat-list-item> Close correlation to traditional financial assets such as equities and bonds</mat-list-item>
        </mat-list>
        <p>Invest in any of our farms today and secure a future of good returns with minimal risks on your investment happy in the knowledge that you are contributing towards food sustainability and security.</p>
    </mat-card-content>
</mat-card>