<mat-card>
  <mat-card-header>
    <mat-card-title>
      Contact Us
    </mat-card-title>
  </mat-card-header>
  
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="example-container">
          <p>
        <mat-form-field style=" width: 600px;">
          <input
            matInput
            placeholder="Enter message title"
            formControlName="title"
            required
          />
        </mat-form-field>
    </p>
    <p>
        <mat-form-field style=" width: 600px;">
          <textarea
            style=" width: 100%;"
            formControlName="message"
            required
            matInput
            placeholder="Write your content"
          ></textarea>
        </mat-form-field>
    </p>
    <p>
            <button type="submit"  [disabled]="!form.valid" mat-stroked-button color="primary">Send Message</button>
          </p>
      </div>
   
    

    </form>
 
</mat-card>
