<mat-grid-list cols="4" rowHeight="2:1">
    <mat-grid-tile>
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Create New Package
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Quick Link
                </p>
                <a mat-raised-button color="primary" [routerLink]="['packages','new']">Add New</a>

            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Number of Members
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    {{dashboardStats?.numberOfMembers}}
                </p>
                <a mat-raised-button color="accent" routerLink="members">View</a>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Number of Packages</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    {{dashboardStats?.numberOfPackages}}
                </p>
                <a mat-raised-button color="warn" routerLink="packages">View</a>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Current Amount Invested</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    {{dashboardStats?.currentAmountInvested}}
                </p>
                <a mat-raised-button color="primary" routerLink="investments">View</a>

            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>