<mat-grid-list cols="4" rowHeight="2:1">
    <mat-grid-tile>
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Number of Members
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    {{dashboardStats?.numberOfMembers}}
                </p>
                <a mat-raised-button color="primary" routerLink="../members">View</a>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Number of Investors
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    {{dashboardStats?.numberOfInvestors}}
                </p>

                <a mat-raised-button color="accent" routerLink="../investments">View</a>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Pending Offline Payments</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    {{dashboardStats?.numberOfPendingOfflinePayments}}
                </p>
                <a mat-raised-button color="warn" routerLink="../offlinepayments">View</a>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Current Amount Invested</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    {{dashboardStats?.currentAmountInvested}}
                </p>
                <a mat-raised-button color="primary" routerLink="../investments">View</a>

            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>