<mat-grid-list cols="4" rowHeight="2:1">
    <mat-grid-tile>
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Most Recent Investment
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    {{dashboardStats?.mostRecentInvestment | date}}
                </p>
                <a mat-raised-button color="primary" routerLink="myinvestments">View</a>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Farm Units Available
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    {{dashboardStats?.totalUnitsAvailable}}
                </p>

                <a mat-raised-button color="accent" routerLink="packages">View</a>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Number of Investments</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    {{dashboardStats?.numberOfInvestments}}
                </p>
                <a mat-raised-button color="warn" routerLink="packages">View</a>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <mat-card-header>
                <mat-card-title>No. of Followed Farms</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    {{dashboardStats?.numberOfFarmsFollowed}}
                </p>
                <a mat-raised-button color="primary" routerLink="myfollowedfarms">View</a>

            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>